@import '../../utils.scss';

.promo {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: no-repeat center / cover;
  opacity: 0;
  transition: 1s;

  &.active {
    opacity: 1;
  }
}

.heading {
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 34px;
  font-family: $secondary-font;

  @media (max-width: 720px) {
    font-size: 32px;
  }
}

.productName {
  display: block;
  font-size: 138px;
  margin-top: 80px;
  color: #c08535;
  font-family: $primary-font;

  @media (max-width: 600px) {
    font-size: 100px;
  }

  @media (max-width: 450px) {
    font-size: 70px;
  }
}
